
@{
    ViewData["Title"] = "AttachDietToUser";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

@model IEnumerable<EntityLayer.Concrete.TrainerDiet>

@{
    // ViewBag'den gelen değeri al
    var gelenDeger = ViewBag.UserId; // "GelenDeger" burada örnek bir isimdir, gerçek ismi kullanmalısınız
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Günlük Kalori</th>
                        <th scope="col">Hedef</th>
                        <th scope="col">Kahvaltı</th>
                        <th scope="col">Öğle</th>
                        <th scope="col">Akşam</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var x in Model)
                    {
                        <tr>


                            <td>@x.DietList.DailyCalories</td>
                            <td>@x.DietList.Target</td>
                            <td>@x.DietList.Breakfast.Substring(0, x.DietList.Breakfast.Substring(0, 12).LastIndexOf(" ")) ... </td>
                            <td>@x.DietList.Lunch.Substring(0, x.DietList.Lunch.Substring(0, 12).LastIndexOf(" ")) ... </td>
                            <td>@x.DietList.Dinner.Substring(0, x.DietList.Dinner.Substring(0, 12).LastIndexOf(" ")) ... </td>
                            <td>
                                <div style="display: flex; gap: 8px;">
                                    <form action="/Trainer/AddDietToUser" method="get">
                                        <input type="hidden" name="DietId" value="@x.DietListId" />
                                        <input type="hidden" name="UserId" value="@gelenDeger" />
                                        <button type="submit" class="btn btn-outline-success">Ekle</button>
                                    </form>

                                    <form action="/Trainer/DeleteDietToUser" method="get">
                                        <input type="hidden" name="DietId" value="@x.DietListId" />
                                        <input type="hidden" name="UserId" value="@gelenDeger" />
                                        <button type="submit" class="btn btn-outline-danger">Çıkar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


